# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Data files
/data/*
!/data/splits/
!/data/splits/patient_split.json
*.nii
*.nii.gz

# Model files
*.h5
*.ckpt

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# reference
notes.txt